#whole {
  width: 100%;
  max-width: 500px;
  height: 240px;

}

.fifty {
  width: 45%;
  max-width: 250px;
  margin: 10px 5px;
}

.ninety {
  width: 93%;
  max-width: 500px;
  margin: 10px;
}


.input-group {
  margin-top: 20px;
  margin-bottom: -10px;
  width: 93%;
  max-width: 500px;
}


span.glyphicon {
  font-size: 1.4em;
}


#currently_playing {
  margin-top: 20px;
  progress {
    width: 100%;
    display: block;
  }
  .time{
    float: left;
    width: 100%;
    .slider{
      width: 100%;
      display: block;
    }
    #position{
      float:left;
    }
    #duration{
      float: right;
    }
  }
  #controls {
    font-size: 30px;
    i{
      margin-right: 10px;
    }
  }
}

#playlist{
  .item{
    float: left;
    .col-xs-2{
      padding: 0;
    }
  }
  .item:not(:first-child){
    margin-top: 10px;
  }
}
